.content
  .header
    .login_user
      %span.login_user__text
        〇〇さん
    .user_chenge
      %span.user_change__text
        ユーザー切替
  .main
    .clients_list
      %span.clients_list__text
        クライエントリスト
  .footer