html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  height: 10vh;
  background-color: greenyellow;
}

.main {
  height: 70vh;
  background-color: yellow;
}

.footer {
  height: 20vh;
  background-color: aqua;
}
